{% extends 'blog_temp/base.html' %}

{% block head %}
    <title>Post Edit Page</title>
{% endblock %}

{% block body %}

    <div class="container">
        {% if posts %}
            <fieldset>
                <legend class="border-bottom mb-2">Posts of {{ user }}</legend>
                {% for post in posts %}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <small class="text-muted">{{ post.date_posted|date:"F d,Y" }}</small>
                            </div>
                            <h3 class="article-title" name="post_title">{{ post.title }}</h3>
                            <p class="article-content">{{ post.content }}</p>
                            <a class="btn btn-outline-info" href="{% url 'post-update' pk=post.pk %}">Update</a>
                            <a class="btn btn-outline-info" href="{% url 'post-delete' pk=post.pk %}">Delete</a>
                        </div>
                    </article>
                {% endfor %}
            </fieldset>
        {% else %}
        <fieldset>
            <legend class="border-bottom mb-2">You haven't any posts.</legend>
        </fieldset>
        {% endif %}
    </div>

{% endblock %}