{% extends 'blog_temp/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Add Post Page</title>
{% endblock %}

{% block body %}
        <div class="container">
            <fieldset>
                <legend class="border-bottom mb-4">Update Post</legend>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </form>
            </fieldset>
        </div>  
{% endblock %}